@import "../global.scss";

.main-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-side-area, .right-side-area {
   min-width: 200px;
   margin-top: 0;
   padding-top: 0;
   display: none;
}

@media (max-width: 1024px) {                  
    .left-side-area {
       display: none;
    }
    .right-side-area {
      display: none;
   }
}
 
 

